@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
body {
    font-size: 1.5em;
    color: white;
    overflow: hidden;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-shadow: #007bff;
    color:  rgb(63, 63, 63);
  }
  
  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit:fill;
  }
  
  .container {
    display: flex;
    justify-content: baseline;
    align-items:center;
    height: 100vh;
    padding: 0 5%;
    z-index: 2;
    gap: 200px;
    
    
  }
  
  .welcome {
    padding: 40px;
    
   
    text-align: center  ;
    font-size: 1.5em;
    transition:2s ease-in-out;
   
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 800;
    

  }
  .welcome:hover{
    background: rgba(49, 49, 49, 0.4);
    transform: translateY(-0.5em);
    box-shadow: 10px 20px 20px rgb(66, 79, 83);
    color:  rgb(255, 238, 238);
  
  }
  
  .message-box {
    padding: 10px;
    width: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    white-space: pre-wrap;
    padding: 60px;
    font-size: 1.3em;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    color:  rgb(255, 252, 252);
  }
  .btn{
    border-radius: 6x; 
    background:  rgb(56, 56, 57);
    border-color: thistle;
    border-style:solid;
    border-radius:25px;
    transition:2s ease-in-out;
    width: 150px;
    height: 50px;
    font-size: 0.5em;
    border-color: rgb(77, 76, 76); 
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
  }
  .btn:hover{
    background-color: rgb(53, 53, 53);
    transform: translateY(-1em);
    box-shadow: 10px 5px 20px rgb(104, 161, 180);
    border-color: rgb(78, 197, 227);
    width:170px;
    color:  rgb(255, 238, 238);

  }
  .btn2 {
    border-radius: 6x; 
    background:  rgb(56, 56, 57);
    border-color: thistle;
    border-style:solid;
    border-radius:25px;
    transition:2s ease-in-out;
    width: 150px;
    height: 50px;
    font-size: 0.5em;
    border-color: rgb(77, 76, 76); 
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
  }
  

  .btn2:hover{
    background-color: rgb(53, 53, 53);
    transform: translateY(1em);
    box-shadow: 10px 5px 20px rgb(104, 161, 180);
    border-color: rgb(78, 197, 227);
    width:170px;
    color:  rgb(255, 238, 238);

  }
